/*body {
  background-color: #EEEBE8;
}

***************************************Footer*********************************************

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Source+Code+Pro&display=swap');
.container-fluid
{
  overflow: hidden;
  margin-top: 600px;
  background: #262626;
  color: #6286a1;
  font-family: 'Redressed', cursive;
}
h6
{
  font-family: 'Redressed', cursive;
}
*/



.toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background: #B993D6;
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
  background: linear-gradient(to right, #8CA6DB, #B993D6);
  color: white;
/*
  justify-content: space-between;
  right: -1175px;
  transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
}
/*
.toolbar:hover
{
    right: 0;
    transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}*/


.toolbar img {
  margin: 0 16px;
}

