
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://document-export.canva.com/iMSD8/DAEZf9iMSD8/3/thumbnail/pVng2kt8fbxbAOh-LFOjcQ-0001-18672998621.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20210327%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210327T085406Z&X-Amz-Expires=32361&X-Amz-Signature=1089f6144f8a6b33bf5ac94ec3d0b0eec7e04af3dcebf591099d6a8a494f5096&X-Amz-SignedHeaders=host&response-expires=Sat%2C%2027%20Mar%202021%2017%3A53%3A27%20GMT"
  />
  <app-nav-bar></app-nav-bar>
</div>


<router-outlet></router-outlet>
<app-cookies></app-cookies>
