
.active
{
  color: aquamarine;
  font-size: large;
  font-weight: bold;

  transition: all 1s;
}

a
{
  padding: 5px;
}

#navBar
{
  text-decoration:none;

  background-color: #262626;
  width: auto;
  padding: 5px;
}



