<div class="content" role="main">

  <!-- Highlight Card -->
  <div>
    <img width="400" alt="Angular Logo"
      src="https://document-export.canva.com/iMSD8/DAEZf9iMSD8/3/thumbnail/pVng2kt8fbxbAOh-LFOjcQ-0001-18672998621.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20210327%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210327T085406Z&X-Amz-Expires=32361&X-Amz-Signature=1089f6144f8a6b33bf5ac94ec3d0b0eec7e04af3dcebf591099d6a8a494f5096&X-Amz-SignedHeaders=host&response-expires=Sat%2C%2027%20Mar%202021%2017%3A53%3A27%20GMT" />
  </div>
  <!--<div class="card-container">
    <h2>Sobre</h2>
    <img width="100" height="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png">
      Angular é uma plataforma e framework para construção da interface de aplicações usando HTML, CSS e, principalmente, JavaScript, criada pelos desenvolvedores da Google.
  </div>-->
  <h2>Projetos</h2>
  <p>A baixo é possivel visualizar os projetos realizados.</p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" [routerLink]="['/calculadora']" routerLinkActive="active">
      <span>Calculator</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" target="_blank" rel="noopener"[routerLink]="['/readMeGen']" routerLinkActive="active">
      <span>ReadMe Gen</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" [routerLink]="['/experiments']" routerLinkActive="active">
      <span>Experiments</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" target="_blank" rel="noopener" [routerLink]="['/enAndRef']" routerLinkActive="active">
      <span>Events</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" target="_blank" rel="noopener" [routerLink]="['/fichaAnimal']" routerLinkActive="active">
      <span>Animal</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card" target="_blank" rel="noopener" [routerLink]="['/cookies']" routerLinkActive="active">
      <span>Cookies</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>

  <!-- Footer -->
  <footer>

  </footer>


</div>
