
input
{
  margin: 5px;
}

#home
{
  position: absolute;
  top: 10%;
}
img
{
  top:20%;
  position: absolute;
  width: 400px;
  height: 400px;
  left: 35%;
}

#sobre
{
  background-color: rgb(214, 204, 190);
  width: auto;
  height: auto;
}
